*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("recursos/deco.webp");
}

main{
    border-radius: 12px;
    box-shadow: 2px 2px 10px 0 #000;
    padding: 50px 70px;
    background-color: transparent;
    backdrop-filter: blur(6px);

}

main h1{
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


main .container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

main img{
    width: 220px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0 #000;
    border-radius: 10px;
    transition: 0.3s;
}

main img:hover{
    transform: scale(1.2);
}

main .cupones2{
    display: none;
}

main #cupon1{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    display: none;
}

main #cupon2{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    display: none;
}

main #cupon3{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    display: none;
}

main #cupon4{
    display: grid;
    grid-column: 4;
    grid-row: 1;
    display: none;
}

main #cupon5{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    display: none;
}

main #cupon6{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    display: none;
}

main #cupon7{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    display: none;
}

main #cupon8{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    display: none;
}

main #cupon9{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    display: none;
}

main #cupon10{
    display: grid;
    grid-column: 2;
    grid-row: 3;
    display: none;
}

main #cupon11{
    display: grid;
    grid-column: 3;
    grid-row: 3;
    display: none;
}

main #cupon12{
    display: grid;
    grid-column: 4;
    grid-row: 3;
    display: none;
}

main #recargar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1a2a3b;
    color: white;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 2px 2px 10px 0 #000;
    transition: 0.3s;
    font-weight: bold;
}

main #recargar:hover{
    background-color: white;
    color: #1a2a3b;
}

main #recargar2{
    display: none;
}

@media (max-width: 900px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-position: center;
    }
    main{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
        width: 300px;
    }

    main .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12fr;
        margin: 0 auto;
    }

    main #recargar{
        display: none;
    }

    #recargar2{
        display: block;
        font-size: 45px;
        color: white;
        background-color: #1a2a3b;
        padding: 15px;
        border-radius: 9999px;
        position: fixed;
        bottom: 30px;
        right: 20px;
    }


    main #cupon1{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        display: none;
    }
    
    main #cupon2{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        display: none;
    }
    
    main #cupon3{
        display: grid;
        grid-column: 1;
        grid-row: 3;
        display: none;
    }
    
    main #cupon4{
        display: grid;
        grid-column: 1;
        grid-row: 4;
        display: none;
    }
    
    main #cupon5{
        display: grid;
        grid-column: 1;
        grid-row: 5;
        display: none;
    }
    
    main #cupon6{
        display: grid;
        grid-column: 1;
        grid-row: 6;
        display: none;
    }
    
    main #cupon7{
        display: grid;
        grid-column: 1;
        grid-row: 7;
        display: none;
    }
    
    main #cupon8{
        display: grid;
        grid-column: 1;
        grid-row: 8;
        display: none;
    }
    
    main #cupon9{
        display: grid;
        grid-column: 1;
        grid-row: 9;
        display: none;
    }
    
    main #cupon10{
        display: grid;
        grid-column: 1;
        grid-row: 10;
        display: none;
    }
    
    main #cupon11{
        display: grid;
        grid-column: 1;
        grid-row: 11;
        display: none;
    }
    
    main #cupon12{
        display: grid;
        grid-column: 1;
        grid-row: 12;
        display: none;
    }
    
}